.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

li {
  list-style: none;
}

.cityInfo {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
  border-radius: 25px;
}

.linkBtn {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.cityInfo.good {
  background-color: #52B947;
  color: #000000;
  border-color: #52B947;
}

.cityInfo.moderate {
  background-color: #F3EC19;
  color: #000000;
  border-color: #F3EC19;
}

.cityInfo.unhealthy-sentitive {
  background-color: #F57E20;
  color: #FFFFFF;
  border-color: #F57E20;
}

.cityInfo.unhealthy {
  background-color: #ED1D24;
  color: #FFFFFF;
  border-color: #ED1D24;
}

.cityInfo.very-unhealthy {
  background-color: #7E2B7D;
  color: #FFFFFF;
  border-color: #7E2B7D;
}

.cityInfo.hazardous {
  background-color: #480D27;
  color: #FFFFFF;
  border-color: #480D27;
}

.cityInfo.unknown {
  background-color: #ebebeb;
  color: #000000;
  border-color: #ebebeb;
}

.cityInfo .details {
  background-color: #ebebeb;
  color: #000000;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
}

.dot {
  height: 12px;
  width: 14px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
  margin-top: 2px;
}

input[type=text] {
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('./search-icon');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 70%;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}