.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

li {
  list-style: none;
}

.cityInfo {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
  border-radius: 25px;
}

.linkBtn {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.cityInfo.good {
  background-color: #52B947;
  color: #000000;
  border-color: #52B947;
}

.cityInfo.moderate {
  background-color: #F3EC19;
  color: #000000;
  border-color: #F3EC19;
}

.cityInfo.unhealthy-sentitive {
  background-color: #F57E20;
  color: #FFFFFF;
  border-color: #F57E20;
}

.cityInfo.unhealthy {
  background-color: #ED1D24;
  color: #FFFFFF;
  border-color: #ED1D24;
}

.cityInfo.very-unhealthy {
  background-color: #7E2B7D;
  color: #FFFFFF;
  border-color: #7E2B7D;
}

.cityInfo.hazardous {
  background-color: #480D27;
  color: #FFFFFF;
  border-color: #480D27;
}

.unknown {
  background-color: #ebebeb;
  color: #000000;
  border-color: #ebebeb;
}